# This .gitignore file should be placed at the root of your Unity project directory

# Игнорируем папки, связанные с библиотеками, временными файлами, объектами, сборками, логами в  Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Игнорирование захвата памяти 
/[Mm]emoryCaptures/

# Игнор Записи
/[Rr]ecordings/

#  Игнор автогенерируемого плагин JetBrains Rider для Unity
/[Aa]ssets/Plugins/Editor/JetBrains*

# игнор  кэш-директория Visual Studio
.vs/

# игнор кэш-директории Gradle
.gradle/

# игнор автогенерируемых файлов 
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.orig
*.blob
*.log
*.DS_Store



# игнор метаданных файлов, сгенерированных Unity3D
*.pidb.meta
*.pdb.meta
*.mdb.meta

*.orig.meta

# игнор  файлов Unity3D при краше
sysinfo.txt

# Игнор файлов сборок 
*.unitypackage
*.app
*.apk
*.aab
*.ipa

# игнор  файлов Unity3D при краше билда
crashlytics-build.properties

# игнор Addressable Assets
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Игнор временно автогенерируемых Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

